:root {
  font-family: "JetBrains Mono";
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf4e6;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

